.musiccardvcolumn{
	left:-1px;
	position:absolute;
	margin:8px 0;
	padding:1px 0;
	width:300px;
	height:784px;
	/* border-right:1px solid black;
	border-bottom:1px solid black; */
}

.musiccardvcolumn2{
	left:300px;
}

.musiccardvcolumn3{
	left:601px;
}

.musiccardvcolumn4{
	left:902px;
}

.musiccard{
	width:500px;
	height:122px;
	margin: 8px auto;
	border:1px solid black;
}

audio{
	width:400px;
	margin: 8px;
}

.musiccard > div {
	width:100%;
	text-align: center;
	}


.musiccard > div > div > div{
	width:100%;
	border-top:1px solid black;
	}

.downloada{
		width: 200px;
		border: 1px black solid;
		background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b6e026+0,abdc28+100;Green+Flat */
background: #b6e026; /* Old browsers */
background: -moz-linear-gradient(top,  #b6e026 0%, #abdc28 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b6e026 0%,#abdc28 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b6e026 0%,#abdc28 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#abdc28',GradientType=0 ); /* IE6-9 */;
		margin: 2px auto;
	}

	.downloada a{
		font: 30px/normal arial sans-serif;
		color: white;
		text-decoration: none;
		padding: 2px 0;
	}